root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4


ij_any_line_comment_add_space = true
ij_any_line_comment_at_first_column = false
ij_any_line_comment_add_space_on_reformat = true
ij_any_keep_first_column_comment = false


ij_any_binary_operation_wrap = normal
ij_any_binary_operation_sign_on_next_line = true


ij_any_call_parameters_wrap = normal

ij_any_wrap_comments = true

# Kotlin: keep at most 1 blank line in between statements
ij_kotlin_keep_blank_lines_before_right_brace = 0
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_keep_blank_lines_in_declarations = 1


ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
